@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* modern theme */
@font-face {
	font-family: 'Inter', sans-serif;
	src: url('/fonts/Inter.ttf');
	font-display: swap;
}

body {
	@apply bg-white dark:bg-surface-900;
	font-family: 'Inter', sans-serif;
	src: url('/fonts/Inter.ttf');
	font-display: swap;
}

.icon {
	display: inline;
	height: 1.15rem;
}
